In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame([[1,200,3], [2,"3,000",4], [1,2,3]])

In [4]:
data

   0      1  2
0  1    200  3
1  2  3,000  4
2  1      2  3

In [6]:
data.loc[1,1]

'3,000'

In [7]:
newstr = data.loc[1,1].replace(",","")
newstr

'3000'

In [8]:
newstr = data.loc[0,1].replace(",","")

AttributeError: 'int' object has no attribute 'replace'

In [13]:
if type(data.loc[1,1]) is str:
    data.loc[1,1] = int(data.loc[1,1].replace(",", ""))

In [14]:
data.loc[1,1]

3000

In [15]:
data

   0     1  2
0  1   200  3
1  2  3000  4
2  1     2  3